---
layout: default
title: Home
---

{% for product in site.shop %}
{% if product.featured %}
<section>
	<div>
		<h2>Featured Product: <a href="{{ product.url }}">{{ product.name }}</a></h2>
	</div>
	<div>
		<img src="/shop/{{ product.images | first }}" alt="{{ product.name }}"/>
		<div class="bigprice">${{ product.price }}</div>
			<button class="buy snipcart-add-item"
					data-item-name="{{ product.name }}"
					data-item-image="/shop/{{ product.images | first }}"
					data-item-id="{{ product.identifier }}"
					data-item-price="{{ product.price }}"
					data-item-url="{{ product.url }}"
					data-item-max-quantity="{{ product.quantity }}">
					Add To Cart
			</button>
		<div style="clear: both;"></div>
		<div>
			{{ product.excerpt }}
		</div>
		<div class="more"><a href="{{ product.url }}">Read More &rarr;</a></div>
	</div>
</section>
{% endif %}
{% endfor %}

<hr />

<section>
	<div>
		<h2>Latest News: <a href="{{ site.posts.last.url }}">{{ site.posts.last.title }}</a></h2>
		{{ site.posts.last.date | date_to_string: "ordinal", "US" }}
	</div>
	<div>
		{{ site.posts.last.excerpt }}
	</div>
	<div class="more"><a href="{{ site.posts.last.url }}">Read More &rarr;</a></div>
</section>
