<a href="/"><img class="title" src="/assets/images/title.svg" /></a>

<nav>
	<cart class="snipcart-checkout">
		<img src="/assets/images/fontawesome/shopping-cart.svg" />
		<div><span class="snipcart-items-count"></span> item(s)</div>
		<div>Total:&nbsp;<span class="snipcart-total-price"></span></div>
	</cart>
	<label for="nav_menu"><img src="/assets/images/menu.svg" /></label>
	<input type="checkbox" id="nav_menu">
	<nav_menu>
	{% for item in site.data.nav %}
	<a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">
		{{ item.title }}
	</a>
	{% if site.data.nav.last != item %}<span class="navdot">&centerdot;</span>{% endif %}
	{% endfor %}
	</nav_menu>
</nav>

<div style="clear: both;"></div>

{% if page.url contains "shop" or page.url contains "products" %}
	<subnav>
	{% assign categories = site.products | group_by: "category" | sort: "name" %}
	{% for category in categories %}
		<span style="white-space: nowrap;">
			<a href="/shop.html#{{ category.name | slugify }}">{{ category.name }}</a>
			{% if category != categories.last %}&centerdot;{% endif %}
		</span>
	{% endfor %}
	</subnav>
{% endif %}
