$bodyFont: "Source Sans Pro";
$bg: #f8f8f2;
$bg2: #e9e9e3;
$fg: #282828;
$orange: #ff4b00;
$blue: #268bd2;
$maxWidth: 700px;
$minWidth: 320px;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body
{
	height: 100%;
}

body
{
	background: $bg;
	border: 0;
	color: $fg;
	display: flex;
	flex-direction: column;
	font-family: $bodyFont;
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5
{
	margin: 0;
}

hr
{
	background: $bg2;
	border: 0;
	display: block;
	height: 0.5em;
	margin: 2em auto;
}

/* Default links */

a
{
	color: $orange;
	text-decoration: none;
}

a:hover
{
	color: $blue;
	text-decoration: none;
}

/* The banner, if used */

banner
{
	background: $fg;
	color: $bg;
	display: block;
	flex-shrink: 0;
	line-height: 1.5em;
	min-height: 0.5em;
	text-align: center;
}

banner span
{
	display: block;
	font-weight: bold;
	margin: 0 auto;
	max-width: $maxWidth;
	padding: 1em 0 0 0;
}

/* The wrapper for the header and content */

wrapper
{
	background: $bg;
	display: block;
	flex: 1 0 auto;
	margin: 0 auto 1em auto;
	max-width: $maxWidth;
	padding: 0 2em;
	width: calc(100% - 4em);
}

wrapper p, li
{
	line-height: 1.5em;
	text-align: justify;
}

/* The header with the title and navigation */

/* The header's padding changes with respect to width, which is why we use a */
/* percentage inside of padding. */
/* https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css */
header
{
	display: block;
	padding: 10% 0;
}

header.title
{
	width: $maxWidth;
}

header img
{
	width: 100%;
}

/* The Cart Display */

cart
{
	float: left;
	font-size: 14pt;
	text-align: left;
}

cart > *
{
	cursor: pointer;
	white-space: nowrap;
}

cart img
{
	float: left;
	margin: 7px 10px 0 0;
	width: 2em;
}

/* All the navigation */

nav
{
	display: block;
	font-size: 1.4em;
	text-align: right;
}

subnav
{
	display: block;
	width: 75%;
	text-align: right;
	margin-left: auto;
}

nav_menu a
{
	font-weight: bold;
}

nav_menu a:first-child
{
	padding-left: 0;
}

nav_menu a:last-child
{
	padding-right: 0;
}

nav_menu a.active
{
    color: $fg;
}

nav_menu span.sup
{
	vertical-align: super;
	font-size: 0.5em;
}

@media screen and (max-width: $maxWidth)
{
	nav a
	{
		width: 100%;
		padding: 0.2em 0;
		display: block;
		text-align: center;
		margin: 0;
	}

	nav span.navdot
	{
		display: none;
	}

	subnav
	{
		margin-bottom: 1em;
		width: 100%;
		text-align: center;
		font-size: 1.4em;
	}
}

nav input[type=checkbox]
{
	display: none;
}

nav label
{
	cursor: pointer;
	display: none;
	margin: 5% auto;
	text-align: center;
	width: 100%;
}

/* The hamburger menu image */
nav label img
{
	width: 10%;
	height: 10%;
	min-width: 25px;
	min-height: 25px;
}

/* Toggled */
nav input[type=checkbox]:checked ~ nav_menu
{
	display: block;
}

@media screen and (max-width: $maxWidth)
{
	header
	{
		padding-bottom: 0;
	}

	nav label
	{
		display: inline-block;
		margin-top: 1.5em;
	}

	/* Default hidden */
	nav nav_menu
	{
		display: none;
	}

	nav_menu a:last-child
	{
		margin-bottom: 1em;
	}

	content section:first-child
	{
		margin-top: 1em;
	}
}

/* The content */

content
{
	display: block;
	margin: 0 auto;
	max-width: $maxWidth;
}

/* The footer */

footer
{
	background: $fg;
	color: $bg;
	display: block;
	flex-shrink: 0;
	line-height: 1em;
	margin-top: 2em;
	padding: 2.5em 0 2em 0;
	text-align: center;
	width: 100%;
}

footer img.logo
{
	height: 250px;
	width: 250px;
}

footer p
{
	margin: 5px;
}

/* Social links */

social
{
	display: block;
	margin: 1.5em auto;
}

social a
{
	align: center;
	border-radius: 0.5em;
	display: inline-block;
	height: 1.5em;
	margin: 0 0.3em;
	padding: 10px;
	width: 1.5em;
}

social a:first-child
{
	margin-left: 0;
}

social a:last-child
{
	margin-right: 0;
}

/* For social hover colors: luminosity + 5 */

social a.facebook
{
	background: #3c5a98;
}
social a.facebook:hover
{
	background: #4c6aa8;
}

social a.twitter
{
	background: #2daae4;
}
social a.twitter:hover
{
	background: #3dbaf4;
}

social a.instagram
{
	background: #d62976;
}
social a.instagram:hover
{
	background: #de518f;
}

social a.reddit
{
	background: #ff4500;
}
social a.reddit:hover
{
	background: #ff6a32;
}

social a.github
{
	background: #000000;
}
social a.github:hover
{
	background: #191919;
}

/* Sections */

section
{
	display: block;
}

div.date
{
	font-style: italic;
	font-size: 0.8em;
}

section div.more
{
	margin-top: 1em;
	text-align: right;
}

section img
{
	margin: 1em auto;
	width: calc(100% - 30px);
}

.about_image
{
	float: right;
	margin-left: 1em;
	max-width: 200px;
	max-height: 200px;
	width: 30%;
	height: 30%;
}

section img, .about_image
{
	border: 15px solid $bg2;
}

/* The Store */

div.shop div.item
{
	background-color: $bg2;
	padding: 1em;
	margin-bottom: 1em;
	width: calc(50% - 2.5em);
}

@media screen and (max-width: $maxWidth)
{
	div.shop div.item
	{
		width: calc(100% - 2em);
	}
}

div.shop img
{
	/* A negative margin on the bottom removes the non a-href space below */
	/* the image. I am not sure why it happens but this fixes it. */
	margin: 0 0 -0.5em 0;
	width: 100%;
}
div.shop a:hover img
{
	opacity: 0.8;
}

div.shop h2
{
	margin: 0.5em auto 1em auto;
}

div.shop h3
{
	padding: 0.5em 0;
}

div.price
{
	float: left;
	line-height: 2em;
}

div.bigprice
{
	float: left;
	font-weight: bold;
	line-height: 2em;
}

button.buy
{
	font-family: $bodyFont;
	font-size: 14pt;
	float: right;
	height: 2em;
	white-space: nowrap;
}

img.product
{
	background-color: $bg2;
	margin: 0.5em 0 0 0;
	padding: 1em;
	width: calc(100% - 2em);
}

/* Error Page */

div.error_code
{
	font-size: 6em;
	font-weight: bold;
	line-height: 1em;
	text-align:center;
}

div.error_description
{
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

/* Image carousel */

img.images
{
	cursor: pointer;
	margin: 15px 0 0 0;
}

.thumb_container
{
	height: 15vw;
	margin: 15px 0 0 0;
	min-height: 75px;
	max-height: 100px;
}

.thumb_clicker
{
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: calc(100% - 130px);
}

.image_arrows_left, .image_arrows_right
{
	background-color: $bg2;
	border: 0;
	cursor: pointer;
	padding: 0 10px;
	width: 30px;
}

.thumb_clicker, .image_arrows_left, .image_arrows_right
{
	float: left;
	height: 100%;
	margin: 0;
}

.image_arrows_left
{
	margin-right: 15px;
}

.image_arrows_right
{
	margin-left: 15px;
}

@media screen and (max-width: $maxWidth)
{
	.thumb_clicker
	{
		width: calc(100% - 8vw - 70px);
	}

	.image_arrows_left, .image_arrows_right
	{
		width: 4vw;
	}
}

.thumbs
{
	cursor: pointer;
	display: inline-block;
	height: calc(100% - 40px);
	margin: 0 15px 0 0;
	width: auto;
}

.thumbs:last-child
{
	margin-right: 0;
}

.thumbs:hover
{
	opacity: 100%;
}

.inactive
{
	opacity: 50%;
}

.active
{
	opacity: 100%;
}

.hidden
{
	display: none;
}
